<section class="form-section">
  <aside>
    <div><h4>Items</h4></div>
    <div class="item-list">
      <!-- Loops -->
      <div
        class="item-wraper"
        *ngFor="let item of items"
        (click)="changeModeToEdit(item.id)"
      >
        <div>
          <p>{{ item.title }}</p>
        </div>

        <button (click)="deleteItem(item.id)">
          <mat-icon aria-hidden="false" aria-label="Delete" fontIcon="delete">
          </mat-icon>
        </button>
      </div>
    </div>
    <button mat-flat-button color="warn" (click)="changeModeToAdd()">
      Add Item
    </button>
  </aside>

  <router-outlet (addItemEvent$)="onAdd($event)"></router-outlet>
</section>
<app-toast [message]="message"></app-toast>
