<div class="item-list-card">
  <div class="image-wrapper">
    <img
      src="https://m.media-amazon.com/images/I/61Dw5Z8LzJL._SL1000_.jpg"
      alt=""
    />
  </div>
  <div class="text-wrapper">
    <div>
      <a [routerLink]="['/item']" [queryParams]="{ id: cartItem.item.id }">
        <h5 class="font-italic">{{ cartItem.item.title }}</h5></a
      >
      <p><strong>Rs:</strong> {{ cartItem.item.price }}</p>

      <button
        type="button"
        class="btn btn-danger remove"
        (click)="onRemoveClick(cartItem.item)"
      >
        Remove
      </button>
    </div>
    <div class="control-wrapper">
      <button
        class="btn btn-outline-dark btn-sm quantity-ctrl"
        (click)="onSubtractClick(cartItem.item)"
      >
        <mat-icon
          class="cart_icon"
          aria-hidden="false"
          aria-label="Remove"
          fontIcon="remove"
        ></mat-icon>
      </button>
      <form>
        <input
          type="number"
          min="1"
          name="quantity"
          (change)="onCountChangeThroughText(cartItem.item)"
          [(ngModel)]="quantity"
          [value]="quantity"
        />
      </form>
      <button
        class="btn btn-outline-dark btn-sm quantity-ctrl"
        (click)="onAddClick(cartItem.item)"
      >
        <mat-icon
          class="cart_icon"
          aria-hidden="false"
          aria-label="Add"
          fontIcon="add"
        ></mat-icon>
      </button>
    </div>
  </div>
</div>
