<div class="item-list-card">
  <div class="image-wrapper">
    <img
      src="https://m.media-amazon.com/images/I/61Dw5Z8LzJL._SL1000_.jpg"
      alt=""
    />
  </div>
  <div class="text-wrapper">
    <a [routerLink]="['/item']" [queryParams]="{ id: cartItem.item.id }">
      <h5 class="font-italic">{{ cartItem.item.title }}</h5></a
    >
    <p><strong>Rs:</strong> {{ cartItem.item.price }}</p>
    <p><strong>Quantity:</strong> {{ cartItem.count }}</p>
    <button
      type="button"
      class="btn btn-danger"
      (click)="onRemoveClick(cartItem.item)"
    >
      Remove
    </button>
  </div>
</div>
