.carousel {
  width: 100%;
  height: 100%;
  .carousel-inner {
    width: inherit;
    height: inherit;
    .carousel-item {
      width: inherit;
      height: inherit;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
